{% extends "students/base.html" %}

{% block body %}
<h3 class="m-4">Data Pegawai</h3>
<div class="row">
  <div class="col-12">
    {% if students %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> 
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nama</th>
                  <th scope="col">NIP</th>
                  <th scope="col">Devisi Pekerjaan</th>
                  <th scope="col">Alamat</th>
                  <th scope="col">Jenis Kelamin</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr>
                    <td>{{ student.nama }}</td>
                    <td>{{ student.nip }}</td>
                    <td>{{ student.devisi_pekerjaan }}</td>
                    <td>{{ student.alamat }}</td>
                    <td>{{ student.jenis_kelamin }}</td>
                    <td>
                      <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                      </button>

                      <!-- Modal - View Student -->
                      <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Student: {{ student.nama }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                <li>Nama: <strong>{{ student.nama}}</strong></li>
                                <li>NIP: <strong>{{ student.nip }}</strong></li>
                                <li>Devisi Pekerjaan: <strong>{{ student.devisi_pekerjaan }}</strong></li>
                                <li>Alamat: <strong>{{ student.alamat }}</strong></li>
                                <li>Jenis Kelamin: <strong>{{ student.jenis_kelamin }}</strong></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                      </a>

                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>

                      <!-- Modal - Delete Student -->
                      <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Nama Pegawai: {{ student.nama }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Apakah yakin untuk menghapus?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'delete' student.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </p>
      </div>
    </div>
    {% else %}
      <h5 class="alert alert-primary ms-4 me-4">Tidak ada data yang ditampilkan</h5>
    {% endif %}
  </div>
</div>
{% endblock %}